<!--<ul>
    <li ng-repeat="item in list.foundItems">
        {{item.name}} , {{item.short_name}} , {{item.description}}
        <button ng-click="list.onRemove({index: $index});">Remove Item</button>
    </li>
</ul>-->


<div class="container" style="display:none;">
    <h2>Menu Search Results</h2>
    <div class="row">
        <div class="col-sm-2" ><b>Name</b></div>
        <div class="col-sm-2" ><b>Short name</b></div>
        <div class="col-sm-4" ><b>Description</b></div>
        <div class="col-sm-4" ></div>
    </div>
    <div class="row" ng-repeat="item in list.foundItems">
        <div class="col-sm-2" >{{item.name}}</div>
        <div class="col-sm-2" >{{item.short_name}}</div>
        <div class="col-sm-4" >{{item.description}}</div>
        <div class="col-sm-4" ><button class="btn btn-link" ng-click="list.onRemove({index: $index});">Don't want this one!</button></div>
    </div>
</div>
<div class="error">Nothing found</div>


