<div ng-if="myInfoCtrl.user.firstname">
<h1>Your registered information!</h1>
<table class="table">
    <tr>
      <td>First Name</td>
      <td>{{ myInfoCtrl.user.firstname}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ myInfoCtrl.user.lastname}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ myInfoCtrl.user.email}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ myInfoCtrl.user.phone}}</td>
    </tr>
    <tr>
      <td>Favorite Menu Item</td>
      <td><menu-item  menu-item="myInfoCtrl.user.favoriteItem">
      </menu-item></td>
    </tr>
  </table>
</div>

<div class="container" ng-if="!myInfoCtrl.user.firstname">
  <span>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></span>
</div>
